{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/listevent.css' %}">
    <title>Liste des Événements</title>
    <div class="text-center my-4">
        <a href="{% url 'addEvent' %}" class="btn btn-primary">Ajouter un Événement</a>
    </div>
    
</head>
<body>
    <section class="light">
        <div class="container py-4">
            <h1 class="text-center" id="pageHeaderTitle">Liste des Événements</h1>

            {% for event in events %}
            <article class="postcard dark blue">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="{{ event.image.url }}" alt="{{ event.title }}" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title blue"><a href="#">{{ event.title }}</a></h1>
                    <div class="postcard__subtitle small">
                        <time datetime="{{ event.evt_date|date:'Y-m-d H:i:s' }}">
                            <i class="fas fa-calendar-alt mr-2"></i>{{ event.evt_date|date:"D, M jS Y" }}
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">{{ event.description }}</div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item"><i class="fas fa-tag mr-2"></i>{{ event.category }}</li>
                        <li class="tag__item"><i class="fas fa-user mr-2"></i>{{ event.organisateur.username }}</li>
                    </ul>
                </div>
            </article>
            {% empty %}
            <p class="text-center">Aucun événement trouvé.</p>
            {% endfor %}
        </div>
    </section>
</body>

{% include 'footer.html' %}


<script>
    // Met à jour l'année dans le footer
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>
</html>
