
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ event.title }}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/event_detail.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1>{{ event.title }}</h1>
        <img src="{{ event.image.url }}" alt="{{ event.title }}" class="img-fluid">
        <p><strong>Date :</strong> {{ event.evt_date|date:"D, M jS Y" }}</p>
        <p><strong>Organisateur :</strong> {{ event.organisateur.username }}</p>
        <p><strong>Description :</strong> {{ event.description }}</p>
        <p><strong>Catégorie :</strong> {{ event.category }}</p>
        <a href="{% url 'eventList' %}" class="btn btn-secondary">Retour à la liste des événements</a>
    </div>
</body>
</html>
